<!-- Navigation -->

<!-- Download Section -->
<section id="selecao" class="analysis-section content-section text-center">
  <div class="container">
    <div class="col-lg-8 mx-auto">
      <h2>Análise de distâncias</h2>
      <p>Este tópico analisa as distâncias das localidades informadas pelas prefeituras até
      as estações de rádio das operadoras de celular na localidade.</p>
    </div>
    <div>
      <%= form_for :localidade do |f|%>
          <%= f.label :state %>
          <%= f.collection_select :state,
                        State.order(:name),
                        :id, :name,
                        include_blank: true %>
          <%= f.label :county %>
          <%= f.grouped_collection_select :county,
                        State.order(:name),
                        :counties, :name,
                        :id, :name,
                        include_blank: true  %>
        <% end %>
        <div>
          <%= link_to 'Show', site_analyzes_index_path, remote: true%>
        </div>
       </div>
    </div>
</section>

<section id="tabela" class="content-section text-center">
  <div class="container col-lg-12  mx-auto">
    <br>
    <div id="results">

    </div>
  </div>
</section>
